.box{
    background: red;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 1em;
    border-radius: .5rem;
    margin: .5rem 0;

}

.box2{
    background: violet;
    color: #fff;

}

.box3{
    background: #a1a1a1;
    color: black;
}